body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  font-family: "UniFont", "UniFontUpper";
}
html {
  overflow-y: hidden;
  height: 100%;
}
@font-face {
  font-family: "UniFont";
  src: url("./assets/unifont-16.0.01.otf") format("opentype");
}

@font-face {
  font-family: "UniFontUpper";
  src: url("./assets/unifont_upper-16.0.01.otf") format("opentype");
}

/* Hide scrollbar for modern browsers */
.hidden-scrollbar {
  overflow: auto; /* Retain scroll functionality */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
