body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  font-family: "UniFont", "UniFontUpper";
}
html {
  overflow-y: hidden;
  height: 100%;
}
@font-face {
  font-family: "UniFont";
  src: url("./assets/unifont-16.0.01.otf") format("opentype");
}

@font-face {
  font-family: "UniFontUpper";
  src: url("./assets/unifont_upper-16.0.01.otf") format("opentype");
}

/* Transparent scrollbar for Webkit-based browsers (Chrome, Edge, Safari) */
div::-webkit-scrollbar {
  width: 0px; /* Adjust scrollbar width */
}

div::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0); /* Semi-transparent thumb */
  border-radius: 6px; /* Rounded corners */
}

div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0); /* Darker thumb on hover */
}

/* Transparent scrollbar for Firefox */
div {
  scrollbar-color: rgba(0, 0, 0, 0) transparent; /* Thumb and track */
  scrollbar-width: thin; /* Thin scrollbar */
}
